.wrapper {
  max-width: 1200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;

  &--medium {
    max-width: 976px;
  }

  .wrapper {
    padding: 0;
  }
}
